@charset "UTF-8";
body{
    background-color: rgb(138, 138, 247);
    font: normal 14pt arial;
    text-align: center;
    color: azure;
}
section{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    margin: auto;
    color: black;
    min-height: 200px;
}
footer{
    color: white;
    text-align: center;
    margin: 20px;
    font-style: italic;
}
div#var{
    text-align: left;
}

